# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server.log
client.log

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
